body {
    margin: 0px;
    width: 101%;
}

img {
    height: auto;
    width: 100%;
    vertical-align: top;
}

.header-hero {
    background-color: #023a78;
    color: white;
    padding-left: 5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px #90dcee solid;
}

.title-font {
    font-family: "Open Sans", sans-serif;
}

.sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin: 0em;
}

.main-container {
    margin-left: 5em;
    margin-right: 7em;
}

.all-cards {
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    margin-right: -4em;
}

.name {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-top: -1.25em;
    margin-bottom: -1.5em;
}

.att-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.attributes {
    font-family: "Open Sans", sans-serif;
    background-color: #90dcee;
    border-radius: 12px;
    font-size: 13px;
    font-stretch: expanded;
    margin: 2px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.footer {
    width: 101%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    font-family: "Oswald", sans-serif;
    text-align: center;
    line-height: 165px;
    font-size: 3em;
}

.donate {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/donate.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.location {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/location.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.volunteer {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/volunteer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

a.white-link {
    color: white;
    text-decoration: none;
}

a.white-link:hover {
    color: #023a78;
}