
body {
    margin: 0px;
    width: 101%;
}

span {
    background-color: #90dcee;
    border-radius: 12px;
    font-size: 68%;
    margin: 2px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    
}

img {
    height: auto;
    width: 250px;
    vertical-align: top;
}

figure {
    margin-left: 3px;
    margin-right: 3px;
}


.header-hero {
    background-color: #023a78;
    color: white;
    padding-left: 5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 7px, #90dcee, solid;
}

.title-font {
    font-family: "Open Sans", sans-serif;
}

.main-container {
    margin-left: 5em;
}

.card {
    font-family: "Oswald", sans-serif;
    display: inline-flex;
    flex-wrap: wrap;
    width: 30%;
    align-content: center;
    margin: 5px;
}

.footer {
    width: 101%;
    height: 285px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    font-family: "Oswald", sans-serif;
    text-align: center;
    line-height: 250px;
    font-size: 3em;
}

.donate {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/donate.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.location {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/location.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

.volunteer {
    background: linear-gradient( rgba(165, 167, 241, 0.7), rgba(165, 167, 241, 0.7)), url(starter_files/images/volunteer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
}

/* .white-link {
    
} */

a.white-link {
    color: white;
    text-decoration: none;
}

a.white-link:hover {
    color: #023a78;
}